.container {
    height: 400px;
    width: 960px;
    margin: 30px;
    border: 2px solid black;
    background-color: lightsalmon;
}

#name {
    font-size: 64px;
    font-family: "Courier New", sans-serif;
    text-shadow: 4px 2px salmon;
    text-align: left;
    margin-top: 20px;
    color: midnightblue;
}

#job {
    font-size: 48px;
    font-family: "Courier New", sans-serif;
    text-align: left;
    margin: 5px;
}

.contact {
    padding: 48px;
    margin-bottom: 64px;
    font-size: 5px;
}

#email {
    font-family: "Courier New";
    color: black;
}

#address {
    float: left;
    font-family: "Courier New";
}

img {
    align-content: right;
    max-width: 20%;
    max-height: 20%;
}